@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800');

* {
    font-family: "Karla", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header{
    background-color: cadetblue;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: xx-large;
    margin: 0;
    display: inline;
}

button {
    font-size: large;
    background-color: aliceblue;
    border-radius: 10px;
    border-style: solid;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
}

button:active {
    transform: scale(0.98);
}

.logout {
    position: absolute;
    right: 40px;
    top: 15px;
}

.create-article {
    position: absolute;
    left: 40px;
    top: 15px;
}

.articles {
    padding: 0.5%;
}

.article {
    color: white;
    background-color: cadetblue;
    margin: 0.5%;
    padding: 0.8%;
    border-radius: 20px;
}

.article_data {
    font-size: 20px;
}

.article_author {
    text-align: end;
}

.remove_btn {
    position: absolute;
    right: 30px;
}

.current-email {
    margin: 0;
    margin-right: 40px;
    text-align: end;
}